<%= link_to "Back", clients_path %>
<% cache @client do %>
  <h1><%= @client.name %></h1>
  <%= image_tag @client.featured_image, style: "width: 300px; border-radius: 8px" if @client.featured_image.attached? %>
  <%= @client.description %>
<% end %>
<%= link_to "Edit", edit_client_path(@client) if authenticated? %>
<%= button_to "Delete", @client, method: :delete if authenticated? %>
