<% cache @client do %>
    <h1><%= @client.name %></h1>

    <%= @client.description %>
<% end %>

<%= link_to "Back", clients_path %>
<%= link_to "Edit", edit_client_path(@client) if authenticated? %>
<%= button_to "Delete", @client, method: :delete if authenticated? %>
